1. 9789384716738

- Real :
- Abebooks
- 3.32 , out of stock

- Scraped :
- Abebooks
- 3.32 ,in stock

2. 9789380607030

- Real :
- Abebooks , title was there
-

- Scraped :
- Abebooks
- no listings found

- FixedL
- Abebooks : title
- Aditya prakshan - Verified

3. 9789381390429

- Flipkart : VERIFIED - CORRECT
- Ahuja - incorrect (fix : take a screenshot at 67% zoom to capture more of the page) - FIXED - VERIFIED
- Snapdeal - correct

4. 9789395161756 - PASSED
5. 9789353524821 - PASSED
